<!DOCTYPE html>
<html lang="pr-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headImports">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Emprestimo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="#">
            </a>
            <button class="navnar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div i></div>

        </nav>

    </header>
</body>

</html>